
  /*.container-lg{
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);

    width:850px;
  }*/
.blockbotton
{

}
.rootLink item-products hasDropdown colorize
{display:-moz-inline-box;
	display:inline-block;
	margin:0;
	padding:0;
	font:26px/1.5 Trebuchet MS, Arial, Helvetica, sans-serif;
	white-space:nowrap;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	border:0;
	background:none;}


/*.rootLink item-developers hasDropdown colorize
.rootLink item-company hasDropdown colorize*/
